body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
   padding:15px 100px;
   cursor: pointer;
   font-size: 25px;
   color: #ffffff;
   border-radius: 5px;
   background-color: #24b15a;
}